@model Product
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Console.WriteLine(Model);
}

  <div class="row mb-3">
    <label for="Name" class="col-sm-2 col-form-label">Name:</label>
    <div class="col-sm-10">
      <input asp-for="Name" class="form-control" />
      <span asp-validation-for="Name" class="text-danger"></span>
    </div>
  </div>
  <div class="row mb-3">
    <label for="Description" class="col-sm-2 col-form-label">Description:</label>
    <div class="col-sm-10">
      <input asp-for="Description" class="form-control" />
      <span asp-validation-for="Description" class="text-danger"></span>
    </div>
  </div>
