@model WebApp_MVC.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a>
    <li class="breadcrumb-item"><a asp-action="Index">Products</a>
  </ol>
</nav>


<div>
  <dl class="row">
    <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.Name)
    <dd class = "col-sm-10">@Html.DisplayFor(model => model.Name)

    <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.Description)
    <dd class = "col-sm-10">@Html.DisplayFor(model => model.Description)

    <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.CreatedAt)
    <dd class = "col-sm-10">@Html.DisplayFor(model => model.CreatedAt)

    <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.UpdatedAt)
    <dd class = "col-sm-10">@Html.DisplayFor(model => model.UpdatedAt)
  </dl>
</div>

<div>
  <a asp-action="Edit" asp-route-id="@Model.Id">Edit...</a> |
  <form asp-action="Delete" asp-route-id="@Model.Id">
    <button type="submit"
            onclick="return confirm('Are you sure you want to delete @Model.Name ?');">
      Delete
    </button>
  </form>
</div>
