@model WebApp_MVC.Models.Product

@{
    ViewData["Title"] = "Edit product";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Update" asp-route-id=@Model.Id>
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <input type="hidden" asp-for="Id" />

  <partial name="_FormPartial" />

  <div class="form-group">
    <a asp-action="Details" asp-route-id=@Model.Id>[キャンセル]</a>
    <input type="submit" value="Save" class="btn btn-primary" />
  </div>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
