@model IEnumerable<WebApp_MVC.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<h1>@ViewData["Title"]</h1>

<p><a asp-action="New">Create new product...</a>

<table class="table">
  <thead>
    <tr>
      <th>@Html.DisplayNameFor(model => model.Name)
            <th></th>
    </tr>
  </thead>
  <tbody>
@foreach (var item in Model) {
    <tr>
      <td>@Html.DisplayFor(modelItem => item.Name)
      <td>@Html.DisplayFor(modelItem => item.Description)
      <td>@Html.DisplayFor(modelItem => item.UpdatedAt)
      <td>
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
    </tr>
}
  </tbody>
</table>
