@model WebApp_MVC.Models.Product

@{
    ViewData["Title"] = "New product";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create">
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <partial name="_FormPartial" />

  <div class="form-group">
    <a asp-action="Index">[キャンセル]</a>
    <input type="submit" value="Create" class="btn btn-primary" />
  </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
