﻿@inherits LayoutComponentBase

@* Dialog, Notification, ContextMenu and Tooltip components *@
<RadzenComponents @rendermode="InteractiveWebAssembly" />


<RadzenLayout>
  <RadzenHeader>
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
      <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" />
      <RadzenLabel Text="Header" />
    </RadzenStack>
  </RadzenHeader>

  <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
        <NavMenu />
  </RadzenSidebar>
  
  <RadzenBody>
    <div class="rz-p-4">
      @Body
    </div>
  </RadzenBody>
  
  <RadzenFooter>
        Footer
  </RadzenFooter>
</RadzenLayout>



<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>


@code {
    bool sidebar1Expanded = true;
}