﻿@page "/static"

@using System.Runtime.InteropServices

<h2>static_page</h2>

<p>現在のレンダーモード: @RenderMode</p>

<p>Server:</p>
<BlazorApp1.Client.components.ServerComponent />

<p>WebAssembly:</p>
<BlazorApp1.Client.components.WebAssemblyComponent />

<p>Static:</p>
<StaticComponent />

@code {
    private string RenderMode => RuntimeInformation.ProcessArchitecture.ToString();

}
