﻿@page "/server"
@rendermode InteractiveServer

@using System.Runtime.InteropServices


<h2>interactive_server_page</h2>

<p>現在のレンダーモード: @RenderMode</p>


<p>Server:</p>
<BlazorApp1.Client.components.ServerComponent />

<p>WebAssembly:</p>
<BlazorApp1.Client.components.WebAssemblyComponent />
コンパイルでき, 呼び出せるが, serverモードのままになる。
<pre>
Error: There was an unhandled exception on the current circuit, so this circuit 
will be terminated. For more details turn on detailed exceptions by setting 
'DetailedErrors: true' in 'appSettings.Development.json' or set 
'CircuitOptions.DetailedErrors'. 
</pre>


<p>Static:</p>
呼び出せない.


@code {
    private string RenderMode => RuntimeInformation.ProcessArchitecture.ToString();

}
