﻿@page "/web_assembly"
@rendermode InteractiveWebAssembly
@using System.Runtime.InteropServices


<h3>web_assembly_page</h3>

<p>現在のレンダーモード: @RenderMode</p>


<p>Server:</p>
<BlazorApp1.Client.components.ServerComponent />
コンパイルできるが, 実行時エラーになる。
<pre>
Microsoft.AspNetCore.Components.WebAssembly.Rendering.WebAssemblyRenderer[100]
Unhandled exception rendering component: Cannot create a component of type 
'BlazorApp1.Client.components.ServerComponent' because its render mode 
'Microsoft.AspNetCore.Components.Web.InteractiveServerRenderMode' is not 
supported by WebAssembly rendering.
</pre>

<p>WebAssembly:</p>
<BlazorApp1.Client.components.WebAssemblyComponent />
serverモードで止まる。


<p>Static:</p>
呼び出せない.




@code {
    private string RenderMode => RuntimeInformation.ProcessArchitecture.ToString();

}
