<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - WebApp_MVC</title>
  <link rel="stylesheet" href="~/lib/bootstrap5/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/WebApp_MVC.styles.css" asp-append-version="true" />
</head>
<body>
@{
/* ARIA Landmark Role  HTML tag
   ------------------  ------------
   banner           <header>
   complementary    <aside>
   contentinfo      <footer>
   form             <form>
   main             <main>
   navigation       <nav>
   region           <section>
   search           <search>  2023年3月, HTMLに追加。

See https://www.w3.org/TR/wai-aria-1.2/
Web 上に誤った解説あり: `application` はランドマークではない。 */
}
  <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="/" >WebApp_MVC</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarSupportedContent" class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
          <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
          </ul>
          <partial name="_LoginPartial" />
        </div>
      </div>
    </nav>
  </header>
  <div class="container">
    <main role="main" class="pb-3">
            @RenderBody()
    </main>
  </div>

  <footer class="border-top footer text-muted">
    <div class="container">
            &copy; 2023 - WebApp_MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
  </footer>

  <!--  <script src="~/lib/jquery/dist/jquery.min.js"></script>  -->
  <script src="~/lib/bootstrap5/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
