﻿@rendermode InteractiveServer
@using System.Runtime.InteropServices

<div style="border:solid blue 2px">

<h3>ServerComponent</h3>

<p>現在のレンダーモード: @RenderMode</p>

</div>

@code {
    private string RenderMode => RuntimeInformation.ProcessArchitecture.ToString();

}
