﻿@rendermode InteractiveWebAssembly
@using System.Runtime.InteropServices

<div style="border:solid red 2px">

<h3>WebAssemblyComponent</h3>

<p>現在のレンダーモード: @RenderMode</p>
</div>


@code {
    private string RenderMode => RuntimeInformation.ProcessArchitecture.ToString();

}
