﻿
@* Razor コンポーネントは大文字始まり *@

@page "/chat"
@rendermode InteractiveWebAssembly
@using Microsoft.AspNetCore.SignalR.Client
@using SharedLibrary
@inject NavigationManager Navigation
@* _hubConnection を解放するのに実装 *@
@implements IAsyncDisposable


<PageTitle>Chat</PageTitle>

<div class="form-group">
    <label>
        User:
        <input @bind="userInput" />
    </label>
</div>
<div class="form-group">
    <label>
        Message:
        <input @bind="messageInput" size="50" />
    </label>
</div>
<button @onclick="Send" disabled="@(!IsConnected)">Send</button>

<hr />

<ul id="messagesList">
    @foreach (var message in messages)
    {
        <li>@message</li>
    }
</ul>


@code {

    private HubConnection? _hubConnection;
    private List<string> messages = [];
    private string? userInput;
    private string? messageInput;

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/api/chat"))
            .Build();

        // サーバから受信した
        _hubConnection.On<string, string>("ReceiveMessage", (user, message) => {
            var encodedMsg = $"{user}: {message}";
            messages.Add(encodedMsg);

            // コンポーネントを再描画
            InvokeAsync(StateHasChanged);
        });

        await _hubConnection.StartAsync(); // これが必要!
    }

    async Task Send()
    {
        if (_hubConnection is not null) {
            // `CreateHubProxy()` は拡張メソッド.
            //IChatHubContract hub = hubConnection.CreateHubProxy<IChatHubContract>();

            await _hubConnection.SendAsync("SendMessage", userInput, messageInput);
            //await hub.SendMessage(userInput, messageInput);
        }
    }

    public bool IsConnected =>
        _hubConnection?.State == HubConnectionState.Connected;

    // override IAsyncDisposable
    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null) {
            await _hubConnection.DisposeAsync();
            _hubConnection = null;
        }
    }

}
