﻿@page "/counter"
@using Microsoft.AspNetCore.SignalR.Client @* HubConnection *@
@inject NavigationManager Navigation


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>


<h2>Client only counter</h2>

<p role="status">Current count: @currentCount</p>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


<h2>Server-to-client streaming</h2>

<p>count: @_stream_count</p> 
<p>@_message</p>
<button class="btn btn-primary" @onclick="StartCount">Start</button>
<button class="btn btn-secondary" @onclick="StopCount">Stop</button>


@code {
    // Client only //////////////////////////////////////////////////////////

    int currentCount = 0;

    // イベントハンドラ
    void IncrementCount()
    {
        currentCount++;
    }


    // Server-to-client streaming ///////////////////////////////////////////

    HubConnection? _hubConnection;
    int _stream_count;
    CancellationTokenSource? _cancellationToken;
    string _message;

    protected override async Task OnInitializedAsync() 
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/api/StreamingCounter"))
            .Build();

        await _hubConnection.StartAsync(); // これが必要!
    }

    // イベントハンドラ
    async void StartCount()
    {
        if (_hubConnection is null)
            return;

        if (_cancellationToken != null)
            _cancellationToken.Cancel();
        _cancellationToken = new CancellationTokenSource();
        var stream = _hubConnection.StreamAsync<int>(
                        "CounterEnumerable", 10, 500, _cancellationToken.Token);
        try {
            await foreach (var count in stream ) {
                _message = "";
                _stream_count = count;
                StateHasChanged(); // 再描画させる
            }
        }
        catch (OperationCanceledException ex) {
            // 例外がサーバから伝播される
            _message = ex.Message;
            StateHasChanged(); // 再描画させる
        }
        // ここで CancellationToken を null にすると, stop() のタイミングが不味そう
    }

    // 中断
    void StopCount()
    {
        if (_cancellationToken != null) {
            _cancellationToken.Cancel();
            _cancellationToken = null;
        }
    }

}
