﻿@* Components/Routes.razor ファイル Router コンポーネント
  起動時に, @page ディレクティブを含む Razor コンポーネントを収集する.
 *@
<Router AppAssembly="typeof(Program).Assembly" 
        AdditionalAssemblies="new[] { typeof(Client._Imports).Assembly }">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
            <NotAuthorized>
                <RedirectToLogin />
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
</Router>
