﻿
@using System.Runtime.InteropServices

<div style="border:solid green 2px">

<h3>Static Component</h3>

<p>現在のレンダーモード: @RenderMode</p>

</div>

@code {
    private string RenderMode => RuntimeInformation.ProcessArchitecture.ToString();

}
